#ifndef SECRET_H
#define SECRET_H

// WiFi Credentials
const char* ssid = "WIFI_SSID";
const char* password = "WIFI_PASSWORD";

// MQTT Config Credentials
const char* mqtt_server = "broker.hivemq.com";
const int mqtt_port = 8883;
const char* mqtt_user = "";
const char* mqtt_pass = "";

// Device ID
const char* device_id = "01";

// MQTT Topics
const char* mqtt_topic_data = "device/01/data";
const char* mqtt_topic_con  = "device/01/con";

// OTA Config
const char* ota_server = "otaapi.example.com";

#endif
